.App { 
  background-color: #0F0F0F;
  height: 100%;
  width: 100vw;
  
}

.containerApp {
  padding: 50px 100px;;
  background-color: #0F0F0F;
}

@media (max-width: 600px) {
  .containerApp {
    padding: 50px 30px;
  }
  
  .container .trash {
    margin-left: 2px;
  }
  .infoContainer {
    margin: 20px 0 20px 0;
  }
  .cardBiologia {
    margin-bottom: 25px;
  }
  .container .cardBiologia {
    margin-bottom: 25px;
  }
  .container .cardArtes {
    margin-bottom: 25px;
  }
  .container .cardGeografia {
    margin-bottom: 15px;
  }
  .container .cardSociologia {
    margin-bottom: 15px;
  }
  
  .btn {
    font-size: 0;
    justify-content: center;
    width: 58px;
    margin-right: 25px
  }
}

@media (max-width: 430px) {
  .containerApp {
    padding: 50px 20px;
  }

  .cardContainer {
    width: 130px;
  }
}